@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



::-webkit-scrollbar-thumb {
    background: #B1B2FF;
    border-radius: 3px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary);
}



